<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.droidninja.imageeditengine">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name=".views.CropImg"
            android:theme="@style/LibAppTheme" />
        <activity
            android:name=".ImageEditActivity"
            android:theme="@style/LibAppTheme" />

    </application>

</manifest>